/* .text{
    margin-top: 20%;
} */

.pukus{
    width: 82vw;
    margin-left: 1px;
    position: static;
}

.bgHome{
margin-left: -10px;
width: 120.9%;
}

.search{
    width: 80%;
    height: 90px;
    margin-left: 10%;
    margin-top: -25%;
    text-align: center;
    position: absolute;
}